* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #a1c3ff;
}

img {
    max-width: 100%
}

h1, h2 {
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #3474e6;
    color: white;
    height: 60px;
}

ul {
    list-style-type: none;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a{ 
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover{
    color: lightblue;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header{
    background-color: #0151cc;
    color: white;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;
}

.boxes .container{
    display: flex;
}

.box{
    background-color: #01265e;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    flex: 1;
    padding: 15px 20px;
}

.box i {
    margin-right: 10px;
}

@media (max-width: 768px){
    .header .container {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .boxes .container {
        flex-direction: column;
        text-align: center;
    }
    img {
        max-height: 300px;
    }
}